html, body, .grid-container { 
    height: 100%;
    width: 100%;
    font-family: graphik;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-template-areas:
        "Navbar Navbar Navbar Navbar"
        "Header Header Header Header"
        "mid mid mid mid"
        "Group Group Group Group";
}

.Navbar {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . .";
    grid-area: Navbar;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    padding-top: 1%;

}
.Navbar img {
    width: 60%;
    padding: 0;
    margin: 0;
    margin-left: 10%;
}
.Navbar a {
    padding: 30px;
    font-size: 1.3vw;
    text-decoration: none;
    color: black;
    display: block;
}
.Navbar a:hover {
    color: blue;
    font-weight: bold;
}
.Navbar #prosjektrapport {
    color: #96968C;
}

.Header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        ".";
    grid-area: Header;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url(sky.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-color: black;
}
.Header h1{
    font-size: 10vw;
    margin-left: 5%;
}

.mid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 0px 0px;
    grid-template-areas:
        "."
        "."
        "."
        ".";
    grid-area: mid;
    margin-top: 29%;
}
.mid img {
    width: 100%;
    padding: 0;
    margin: 0;
}
.mid .text p {
    margin-left: 6%;
    margin-right: 30%;
    margin-top: 5%;
    font-size: 2.4vw;
    color: white;
    font-family: Graphik Light;
}
.mid .text {
    margin-top: 7%;
}
.Group h2 {
    font-size: 2.1vw;
}

.Group {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 70% 30%;
    gap: 7px 21px;
    grid-template-areas:
        ". . ."
        ". . .";
    grid-area: Group;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88%;
    padding-bottom: 45%;
}
.Group img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.frida {
    margin-top: 30%;
}
.sigrid {
    margin-top: 30%;
}
.mari {
    margin-top: 30%;
}
.Group .text {
    text-align: center;
}
.Group .text h4 {
    font-family: Graphik Light;
    font-size: 3vw;
    margin: 10px 0px 0px 0px;
}
.Group .text p {
    font-size: 1.3vw;
}
